<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>

<div id="create-review-container">
    <div class="review-header-container">
        <div class="review-header">
            <p class="review-title">Add Review</p>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" >
        <mat-tab class="label-title" label="Información">
            <div class="information-review-container">
                <div class="review-form">
                    <p>Agrega fotos</p>
                    <form id="editForm" name="editForm" [formGroup]="editForm">
                        <mat-form-field appearance="fill">
                            <div class="fileUploadContainer" [ngStyle]="{'margin-top' : editForm.get('photo')!.value ? '5px' :  '20px'}">
                                <ng-container *ngIf="editForm.get('photo')!.value">
                                    <img [src]="editForm.get('photo')!.value" width="150px" alt="review photo"/>
                                    <button class="deleteButton" mat-icon-button (click)="fileInput.value = ''; editForm.get('photo')?.setValue(null);">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </ng-container>
                                <!-- no image -->
                                <div *ngIf="!editForm.get('photo')!.value">
                                    <button mat-button style="width:100%; opacity: 80%;"><mat-icon>image</mat-icon></button>
                                </div>
                                <!-- put on top of the fileUploadContainer with opacity 0 -->
                                <input #fileInput class="fileInput" type="file" multiple="multiple" accept="image/*"
                                       (change)="setFileData($event)"/>
                            </div>
                            <input matInput formControlName="photo" readonly [hidden]="true " />
                        </mat-form-field>
                    </form>
                    <p> Título <br>
                        <mat-form-field appearance="fill"  style="width: 100%;">
                            <mat-label>Texto</mat-label>
                            <input matInput placeholder="">
                        </mat-form-field>
                    </p>
                    <p> Descripción <br>
                        <mat-form-field appearance="fill"  style="width: 100%;">
                            <mat-label>Texto</mat-label>
                            <textarea matInput placeholder=""></textarea>
                        </mat-form-field>
                    </p>
                    <p> Rating <br>
                        <mat-icon
                                *ngFor="let icon of maxRatingArray; let index=index"
                                (mouseenter)="HandleMouseEnter(index)"
                                (mouseleave)="HandleMouseLeave()"
                                (click)="Rating(index)"
                                [ngClass]="{checked:SelectedStar > index}"
                        >
                            star</mat-icon>

                    </p>
                    <div class="send-button">
                        <button class ="send-btn" (click)="createReview()" mat-flat-button>Save</button>
                    </div>
                </div>
                <div class="advice-container">
                    <mat-icon style="opacity: 70%">info</mat-icon>
                    <div class="advice-paragraph">
                        <p>Comparte tu experiencia con un servicio. Describe qué te gustó o no te gustó, con detalles
                            específicos. No menciones precios ni ofertas. Céntrate en cómo te hizo sentir el servicio.
                            Las mejores reseñas son informativas y fáciles de leer.</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>