<app-toolbar/>
<app-contractor-sidebar-contractor *ngIf="this.type == 'contractor'" />
<app-sidebar *ngIf="this.type == 'remodeler'" />

<div id="support-container">
    <div class="support-header-container">
        <div class="support-header">
            <p class="support-title">Tell us what happened</p>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" >
        <mat-tab class="label-title" label="Información">
            <div class="information-support-container">
                <div class="support-form">
                    <form [formGroup]="supportForm" (ngSubmit)="onSubmit()">
                        <p style="font-weight: bold; font-size: 1.2rem;">Soporte</p>

                        <p> Título <br>
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Título</mat-label>
                                <input matInput placeholder="" formControlName="title">
                            </mat-form-field>
                        </p>

                        <p> Mensaje <br>
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Mensaje</mat-label>
                                <textarea matInput placeholder="" formControlName="message"></textarea>
                            </mat-form-field>
                        </p>

                        <div class="send-button">
                            <button class="send-btn" mat-flat-button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>

                <div class="advice-container">
                    <mat-icon style="opacity: 70%">info</mat-icon>
                    <div class="advice-paragraph">
                        <p>¿Tienes alguna pregunta o necesitas ayuda? Envíanos un mensaje con tu nombre, correo electrónico y detalles del mensaje, ¡y te responderemos lo antes posible!</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
