<app-toolbar-home></app-toolbar-home>

<section class="signup-container">

    <div class="signup-section">

        <div class="signup-form-container">

            <div class="signup-logo">
                <img src="assets/images/logo-ReStyle.svg" alt="ReStyle logo" class="logo-image">
                <span class="logo-text">ReStyle</span>
            </div>

            <span class="signup-form-title">Sign Up</span>
            <p>Sign up with your data information</p>

            <form [formGroup]="registerForm" (submit)="createUser()" class="signup-form">

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Name </mat-label>
                    <input type="text" matInput formControlName="firstName" required>
                    <mat-error *ngIf="firstName?.errors?.['required']">Name is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Paternal Surname </mat-label>
                    <input type="text" matInput formControlName="paternalSurname" required>
                    <mat-error *ngIf="paternalSurname?.errors?.['required']">Paternal surname is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Maternal Surname </mat-label>
                    <input type="text" matInput formControlName="maternalSurname" required>
                    <mat-error *ngIf="maternalSurname?.errors?.['required']">Maternal surname is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width" >
                    <mat-label> Rol </mat-label>
                    <mat-select type="text" formControlName="type" required>
                        <mat-option *ngFor="let type of types" [value]="type">
                            {{type}}
                        </mat-option>
                        <mat-error *ngIf="type?.errors?.['required']">Rol is <strong>required</strong></mat-error>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label> E-mail </mat-label>
                    <input type="text" matInput formControlName="email" required>
                    <mat-error *ngIf="email?.errors?.['required']">Email is <strong>required</strong></mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label> Password </mat-label>
                    <input type="password" matInput formControlName="password" required>
                    <mat-error *ngIf="password?.errors?.['required']">Password is <strong>required</strong></mat-error>
                </mat-form-field>

                <button [disabled]="!registerForm.valid" mat-raised-button color="primary" type="submit" class="signup-button">Create Account</button>
            </form>
        </div>
    </div>
</section>