<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="sidenav-content">
    <div class="sidenav-start">
      <div class ="sidenav-icons">
          <a>
              <img mat-card-avatar class="sidenav-image" src="{{userData.image}}" alt="Sidenav avatar"/>
          </a>
          <p class="user-name">Hi, {{userData.firstName}}!</p>

      </div>

      <form class="search-form">
        <mat-form-field class="search-bar">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search" value="">
        </mat-form-field>
      </form>
    </div>

    <div class="sidenav-links">
      <a>
        <mat-icon matPrefix>home</mat-icon>
        <p style="display: inline;" (click)="redirectToRemodelers()">Home</p>
      </a>
        <div class="sidenav-links-separator"></div>
      <a (click)="redirectToProyects()">
        <mat-icon matPrefix>folder</mat-icon>
          <p style="display: inline;">My Projects</p>
      </a>

        <div class="sidenav-links-separator"></div>
      <a (click)="redirectToSupport()">
        <mat-icon matPrefix>support_agent</mat-icon>
        <p style="display: inline;">Support</p>
      </a>
        <div class="sidenav-links-separator"></div>

    </div>

    <div class="sidenav-end">
      <p>ReStyle &copy; 2024</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

