.remodeler-profile-container{
  margin-left: 20rem;
  margin-top: 2rem;
  padding-top: 3rem;
  margin-right: 2rem;
  font-family: "Montserrat", sans-serif;
}
.remodeler-header-container{
  display: flex;
  justify-content: left;
  width: 21%;
  border-bottom: 3px solid #cccccc;
}
.remodeler-profile-header{
  padding: 2rem 2rem 0;
}
.remodeler-name{
  font-size: 2rem;
  font-weight: bold;
  color: #3F51B5;
}
.remodeler-exp{
  padding: 3rem 1rem 0;
  color: #757DE8;
  border-left: 1px solid #cccccc;
}
.remodeler-profile-tabs{
  display: flex;
  flex-direction: row;
}
.remodeler-profile-card{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  background-color: #F5F5F5;
  padding: 1rem;
}
.profile-card{
  max-width: 400px;
}
.remodeler-card-img{
  width: 100%;
  margin-bottom: 1rem;
}
.remodeler-contact-form{
  background-color: #dedeff;
  padding: 4rem 4rem 0;
  margin-left: 2rem;
}
.form-names{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.send-button{
  display: flex;
  justify-content: right;
}

.send-btn{
  width: 6rem;
  background-color: #3F51B5;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.5rem;
  height: 3rem;
}
/*portfolio styles*/
.portfolio-content{
    display: flex;
    flex-direction: row;
}
.portfolio-info {
  flex: 1;
  border-right: 1px solid #ddd;
  width: 40%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-info img{
  margin-top: 25px;
}
.portfolio-info p{
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
}
.portfolio-projects{
  width: 60%;
}
.portfolio-projects h3{
  padding-left: 5px;
}
/*reviews styles*/
.remodeler-reviews-card{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  background-color: #F5F5F5;
  padding: 1rem;
}
.review-card{
  display: flex;
  flex-direction: row;
  height: 200px;
}
.review-card-img{
  width: 300px;
  margin-bottom: 1rem;
}
.review-content{
  padding: 1rem;
}
.review-icon {
  display: inline-block;
}

/*Request proyect*/
.remodeler-proyect-tab{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #F5F5F5;
}
.remodeler-proyect-form{
  background-color: #dedeff;
  padding: 4rem 4rem 0;
}
.remodeler-proyect-form h3{
  font-weight: bold;
  color: #3F51B5;
}


.client-data{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.form-proyect-address{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.form-proyect-data{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (hover){
  .send-btn:hover{
    transition: 0.4s ease;
    background-color: #3F51B5;
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .remodeler-profile-tabs{
    display: flex;
    flex-direction: column;
  }
  .remodeler-contact-form{
    margin: 2rem 0;
  }
  .form-names{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .remodeler-contact-form{
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 1480px) {
  .remodeler-profile-container{
    margin-left: 2rem;
  }
}

