<app-toolbar-home></app-toolbar-home>
<section>
    <!--Content colum information-->
    <div class="container-home">

        <div class="container-content">
            <!--Information-->
            <div class="row">
                <div class ="information">
                    <h1>Tu proyecto de diseño y remodelador ahora más cerca de ti</h1>
                    <p>Conectando remodeladores líderes con clientes en todo el Perú desde 2024.</p>

                    <button class="button-sign-in" routerLink="sign-in">Iniciar Sesión</button>
                    <button class="button-sign-up" routerLink="sign-up">Registrarse</button>
                </div>
            </div>

            <!--Image Home ReStyle-->
            <div class="row">
                <img src="assets/images/image-home-page.png">
            </div>
        </div>
    </div>

</section>
