<app-toolbar-home></app-toolbar-home>
<section>
    <!--Content column information-->
    <div class="container-home">

        <div class="container-content">
            <!--Information-->
            <div class="row">
                <div class ="information">
                    <h1>Your design and remodeling project is now closer to you.</h1>
                    <p>Connecting leading remodelers with customers from all over Peru since 2024.</p>

                    <button class="button-sign-in" routerLink="sign-in">Sign In</button>
                    <button class="button-sign-up" routerLink="sign-up">Sign Up</button>
                </div>
            </div>

            <!--Image Home ReStyle-->
            <div class="row">
                <img src="assets/images/image-home-page.png">
            </div>
        </div>
    </div>

</section>
